<template>

  <allsong msg="Welcome to Your Vue.js App"/>
</template>

<script>
import allsong from './components/allsong.vue'

export default {
  name: 'App',
  components: {
    allsong
  }
}
</script>

<style>

</style>
