<template>
  <div>  
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav sidebar sidebar-light" id="patronSidebar">
        <a class="sidebar-brand d-fle"></a>
        <div class="profile-sidebar mt-3">
          <div class="profile-userpic">
            <img src="assets/img/logo/logo.png"  class="img-fluid" alt="Responsive image">
          </div>   
            <div class="clear"></div>
        </div>

        <li class="nav-item">
          <br>
          <a class="nav-link"  href="javascript:void(0);" data-toggle="modal" data-target="#uploadModal">
            <i class="fa fa-upload"></i>
            <span>Upload Music</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="fa fa-music"></i>
            <span>All Songs</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="modal" data-target="#createplaylist">
            <i class="fas fa-plus"></i>
            <span>Create Play List</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class=""></i>
            <span>Playlist 1</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class=""></i>
            <span>Playlist</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class=""></i>
            <span>Playlist</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class=""></i>
            <span>Playlist</span>
          </a>
        </li>
      </ul>
      <!-- End Sidebar -->

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

          <!-- TopBar -->
          <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
            <!-- Toggle the sidebar navigation -->
            <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
              <i class="fas fa-angle-left"></i>
            </button>
          </nav>
          <!-- End TopBar -->

          <!-- Container Fluid-->
          <div class="container-fluid" id="container-wrapper">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">All Songs</h1>
            </div> 

            <!-- Row -->
            <div class="row">
              <!-- DataTable -->
              <div class="col-lg-12">
                <div class="card mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  </div>

                  <div class="table-responsive p-3">
                    <table class="table align-items-center table-bordered table-hover" id="dataTableHover">
                      <thead class="text-white" style="background-color:#69409c;">
                        <tr align="center">
                          <th>Action</th>
                          <th>Title</th>
                          <th>Artist</th>
                          <th>Album</th>
                          <th>Duration</th>
                        </tr>
                      </thead>
                      <tbody align="center">
                        <tr>
                          <td>
                            <a href="#" name="play" class="btn btn-sm bg-dark text-white"><i class="fas fa-play"></i></a>
                          </td>

                          <td>Beautiful White</td>
                          <td>Wistlelife</td>
                          <td>Wistlelife</td>
                          <td>3:57</td>
                        </tr>

                      <tr class="text-white" style="background-color:#baa1ee;">
                          <td>
                            <a href="#" name="play" class="btn btn-sm bg-dark text-white"><i class="fas fa-play"></i></a>
                          </td>

                          <td>Back to December</td>
                          <td>Taylor Swift</td>
                          <td>Speak Now Album</td>
                          <td>4:05</td>
                        </tr>

                        <tr>
                          <td>
                            <a href="#" name="play" class="btn btn-sm bg-dark text-white"><i class="fas fa-play"></i></a>
                          </td>

                          <td>If I Let You Go</td>
                          <td>Wistlelife</td>
                          <td>Wistlelife</td>
                          <td>4:10</td>
                        </tr>

                        <tr class="text-white" style="background-color:#baa1ee;">
                          <td>
                            <a href="#" name="play" class="btn btn-sm bg-dark text-white"><i class="fas fa-play"></i></a>
                          </td>

                          <td>Ikaw at Ako</td>
                          <td>Moira Dela Torre</td>
                          <td>Malaya Album</td>
                          <td>4:32</td>
                        </tr>    
                      </tbody>
                    </table>
                    
                    <div style="margin-top: 70px; height: 8px;">
                      <form>
                        <div class="form-group">
                          <input type="range" name="range" class="form-control-range" id="formControlRange">
                        </div>
                      </form>
                    </div>
                    <div align="center" style="margin-top: 20px;">
                      <a href="#" class="btn btn-sm bg-dark text-white" name="backward" style="margin-right:12px;"><i class="fa fa-step-backward"></i></a>
                      <a href="#" class="btn btn-sm bg-dark text-white"><i class="fas fa-play"></i></a>
                      <a href="#" class="btn btn-sm bg-dark text-white"  name="forward" style="margin-left:12px;"><i class="fas fa-step-forward"></i></a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

            <!--Modal Upload Music -->
            <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabelUpload"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-white" style="background-color:#69409c;">
                    <h5 class="modal-title" id="ModalLabelUpload">Upload Music</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <input type="file" class="form-control" id="uploadmusic">
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn text-white" name="upload" style="background-color:#69409c;">Upload</a>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

            <!--Modal Create playlist -->
            <div class="modal fade" id="createplaylist" tabindex="-1" role="dialog" aria-labelledby="ModalLabelCreatePlaylist"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-white" style="background-color:#69409c;">
                    <h5 class="modal-title" id="ModalLabelCreatePlaylist">Create Playlist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <input type="text" class="form-control" id="playlist_name">
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn text-white" name="create" style="background-color:#69409c;">Create</a>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
