<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="assets/img/logo/header-logo.png" rel="icon">
  <title>MP3</title>

  <!-- twitter bootstrap local load files -->
  <link href="assets/css/plugin/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="assets/css/custom-style.css" rel="stylesheet">
  <link href="assets/css/plugin/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>

    <!-- built files will be auto injected -->
  
  <!-- Script local load files -->
  <script src="assets/css/plugin/jquery/jquery.min.js"></script>
  <script src="assets/css/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/css/plugin/datatables/jquery.dataTables.min.js"></script>
  <script src="assets/css/plugin/datatables/dataTables.bootstrap4.min.js"></script>
  <script src="assets/js/custom.js"></script>

  <!--datatable script-->
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable();
      $('#dataTableHover').DataTable();
    });
  </script>

</body>
</html>
